/* --- Typography System: 

-- 01- Font Size:

10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 / 

-- 02- Font Weight:

Default: 400, medium=500, semibold=600, bold=700

-- 03- Line Height:

Default: 1. 1.6, 1.05

-- 04- Spacing System:

/* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 120 / */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  src: url(../fonts/VisueltPro-Regular-400.ttf);
  font-family: VisueltPro;
}
@font-face {
  src: url(../fonts/MaisonNeue/MaisonNeue-Book-450.otf);
  font-family: MaisonNeueBook;
}
@font-face {
  src: url(../fonts/MaisonNeue/MaisonNeue-Medium-500.otf);
  font-family: MaisonNeueMedium;
}
@font-face {
  src: url(../fonts/MaisonNeue/MaisonNeue-Light-300.otf);
  font-family: MaisonNeueLight;
}
@font-face {
  src: url(../fonts/MaisonNeue/MaisonNeue-Demi-600.otf);
  font-family: MaisonNeue600;
}
@font-face {
  src: url(../fonts/VisueltPro-Bold-700.ttf);
  font-family: Visueltpro700;
}
@font-face {
  src: url(../fonts/MaisonNeue/MaisonNeue-Bold-700.otf);
  font-family: MaisonNeue700;
}
@font-face {
  src: url(../fonts/VisueltPro-Medium-500.ttf);
  font-family: Visueltpro600;
  font-weight: 600;
}
@font-face {
  src: url(../fonts/VisueltPro-Medium-500.ttf);
  font-family: Visueltpro500;
}

/* ----------------------------------------------- */

/* General Reusable */

/* ----------------------------------------------- */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

/* ----------------------------------------------- */

/* Main navigation section */

/* ----------------------------------------------- */
.header {
  background-color: #000316;
  padding: 1.6rem 0;
}
.main-nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.main-nav-list li:last-child {
  display: none;
}
.navigation {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.main-nav-link {
  text-decoration: none;
  font-size: 1rem;
  font-family: MaisonNeueLight;
  color: #f0f1f1;
  letter-spacing: 1px;
}
.nav-btn {
  background-color: #282739;
  padding: 1rem 1.6rem;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-family: MaisonNeueBook;
  letter-spacing: 1px;
  font-size: 1.1rem;
  text-decoration: none;
}

/* ----------------------------------------------- */

/* Hero Section */

/* ----------------------------------------------- */
.hero-bg {
  background-image: url("../img/hero-img-3.png");
  background-size: contain;
  background-position: 125% center;
  background-repeat: no-repeat;
}
.hero-section {
  padding-bottom: 4rem;
  position: relative;
}
.hero {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}
.primary-heading {
  margin-top: 100px;
  font-size: 3.8rem;
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 1rem;
  font-family: VisueltPro;
  line-height: 4rem;
}
.hero-description {
  font-size: 1.2rem;
  color: #e3e3e3;
  margin-bottom: 3.8rem;
  font-family: MaisonNeueLight;
  letter-spacing: 1px;
}
.btn1,
.btn2 {
  text-decoration: none;
  color: #0d123f;
  padding: 1rem 2.4rem;
  background-color: #ffffce;
  border-radius: 4px;
  cursor: pointer;
  font-family: MaisonNeueMedium;
  letter-spacing: 0.5px;
}
.btn2 {
  background-color: #000316;
  margin-left: 5px;
  color: #ffffff;
}

/* ----------------------------------------------- */

/* Mobile nav */

/* ----------------------------------------------- */

.mobile-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  display: none;
}
.nav-btn-icon {
  height: 40px;
  width: 40px;
  color: #fff;
}
/* .nav-btn-icon[name="close-outline"] {
  display: none;
} */

/* ----------------------------------------------- */

/* Partners Section */

/* ----------------------------------------------- */

.partners-text {
  color: #f0f1f1;
  font-family: MaisonNeueLight;
  font-size: 1rem;
  margin-top: 100px;
  margin-bottom: 2.2rem;
}
.partners-logo {
  display: flex;
  flex-wrap: wrap;
  gap: 62px;
}
.mobile-partners {
  display: none;
}

/* ----------------------------------------------- */

/* Presale time Section */

/* ----------------------------------------------- */
.presale {
  position: absolute;
  bottom: -7rem;
  right: 0;
  width: 100%;
  max-width: 520px;
}

.presale-heading-text {
  position: absolute;
  top: 14px;
  left: 30px;
  display: inline-block;
  font-family: MaisonNeueLight;
  color: white;
  font-size: 18px;
}

.presale-time {
  display: flex;
}
.p-time {
  list-style: none;
  text-align: center;
}
.presale-time-hours,
.presale-time-days,
.presale-time-minutes,
.presale-time-seconds {
  color: #ffffff;
  width: 25%;
  height: 168px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-time .number {
  font-family: MaisonNeue600;
  font-size: 58px;
}
.p-time .time {
  font-family: MaisonNeueLight;
  font-size: 18px;
}
.presale-time-hours,
.presale-time-seconds {
  background: linear-gradient(180deg, #5627f4 0%, #4521bf 100%);
}
.presale-time-days,
.presale-time-minutes {
  background-color: #5627f4;
}

/* ----------------------------------------------- */

/* About Section */

/* ----------------------------------------------- */

.about-section {
  padding: 180px 0;
}
.about-first-heading {
  font-family: Visueltpro700;
  font-size: 57px;
  color: #010316;
  letter-spacing: 0.5px;
  padding-bottom: 34px;
}
.first-text-first-line {
  font-family: MaisonNeueBook;
  color: #515050;
  font-size: 21px;
  padding-bottom: 46px;
  letter-spacing: 0.5px;
}

.first-text-second-line {
  font-family: MaisonNeueBook;
  font-size: 21px;
  color: #515050;
  line-height: 40px;
  letter-spacing: 0.5px;
  padding-bottom: 90px;
}
.about-second-heading {
  font-family: MaisonNeue700;
  font-size: 28px;
  letter-spacing: 0.5px;
  color: #010316;
  padding-bottom: 22px;
}
.second-text-first-line {
  font-size: 18px;
  font-family: MaisonNeueBook;
  color: #515050;
  letter-spacing: 0.5px;
  padding-bottom: 36px;
}
.about-link {
  display: flex;
  align-items: center;
  gap: 9px;
}
.about-link-icon {
  max-width: 20px;
  height: 20px;
}
.about-link-first-line {
  font-family: MaisonNeueBook;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.5px;
  color: #010316;
}

/* ----------------------------------------------- */

/* nfts Section */

/* ----------------------------------------------- */

.nfts-section {
  padding: 180px 0;
  background-color: #f3f3f3;
}
.nfts-species {
  display: grid;
  grid-template-columns: 55fr 45fr;
  gap: 147px;
}
.nfts-text-heading {
  font-family: Visueltpro700;
  font-size: 58px;
  color: #010316;
  letter-spacing: 0.5px;
  margin-bottom: 23px;
  line-height: 60px;
}
.nfts-text-para {
  font-family: MaisonNeueBook;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 38px;
  color: #0d0d0d;
  line-height: 30px;
  letter-spacing: 0.5px;
}
.table {
  border: 1px solid #151515;
  max-width: 490px;
  height: 93px;
  border-collapse: collapse;
  margin: 0 auto;
}
.table-heading,
.table-text {
  border: 1px solid #151515;
  padding-left: 27px;
  color: #010316;
}
.table-heading {
  font-family: MaisonNeue600;
  font-size: 16px;
  letter-spacing: 1px;
}
.table-text {
  font-family: MaisonNeueBook;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2px;
}
.nfts-img {
  height: auto;
  width: 100%;
  max-width: 510px;
}

/* ----------------------------------------------- */

/* Survival game Section */

/* ----------------------------------------------- */

.survival-section {
  padding: 180px 0;
}
.survival-game {
  display: grid;
  grid-template-columns: 55fr 45fr;
  gap: 147px;
}
.survival-text-heading {
  font-family: Visueltpro700;
  font-size: 58px;
  color: #010316;
  letter-spacing: 0.5px;
  margin-bottom: 23px;
  line-height: 60px;
}
.survival-text-para {
  font-family: MaisonNeueBook;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 38px;
  color: #0d0d0d;
  line-height: 30px;
  letter-spacing: 0.5px;
}
.table1 {
  border: 1px solid #151515;
  max-width: 510px;
  height: 93px;
  border-collapse: collapse;
  margin: 0 auto;
}
.table1-heading,
.table1-text {
  border: 1px solid #151515;
  padding-left: 27px;
  color: #010316;
}
.table1-heading {
  font-family: MaisonNeue600;
  font-size: 16px;
  letter-spacing: 1px;
}
.table1-text {
  font-family: MaisonNeueBook;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2px;
}
.survival-img {
  width: 100%;
  /* height: 460px; */
  max-width: 510px;
}

/* ----------------------------------------------- */

/* Token Section */

/* ----------------------------------------------- */

.token-section {
  padding: 180px 0;
  background-color: #010316;
}
.token-text-heading {
  font-family: Visueltpro700;
  font-size: 58px;
  color: #ffffff;
  margin-bottom: 34px;
}
.warning {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 46px;
}
.warning-text,
.token-text-para,
.token-box-text {
  font-family: MaisonNeueBook;
  font-weight: 400;
}
.warning-text {
  font-size: 18px;
  color: #ffffce;
  letter-spacing: 1px;
}
.token-text-para {
  font-size: 22px;
  color: #d2d3d7;
  letter-spacing: 0.8px;
  margin-bottom: 60px;
}

/* Token Box Section */

.token-box-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 16px;
}
.token-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border: 1px solid #fff;
  width: calc(100% / 3);
  height: 200px;
}
.token-box-heading {
  font-family: Visueltpro700;
  font-size: 58px;
  color: #fff;
}
.token-box-text {
  font-size: 18px;
  color: #d2d3d7;
  letter-spacing: 0.5px;
}

/* Token Table Section */

.table2 {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;

  width: 100%;
  height: 647px;
  border-collapse: collapse;
  margin: 0 auto;
  table-layout: fixed;
  margin-bottom: 239px;
}
td {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding-left: 35px;
}

.table2-heading {
  font-family: MaisonNeue700;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
}
.table2-text {
  font-family: MaisonNeueBook;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  letter-spacing: 4px;
  background-color: #5627f4;
}

/* Token launchpad Section */

.token-launchpad {
  display: grid;
  grid-template-columns: 55fr 45fr;
  gap: 4px;
}

.launchpad-heading {
  font-family: Visueltpro700;
  font-size: 58px;
  color: #fff;
  margin-bottom: 34px;
}
.launchpad-para1,
.launchpad-para2 {
  margin-bottom: 46px;
}
.launchpad-para1,
.launchpad-para2,
.launchpad-para3 {
  font-family: MaisonNeueBook;
  font-weight: 400;
  font-size: 22px;
  color: #d2d3d7;
}
.launchpad-img {
  max-width: 550px;
  height: auto;
  width: 100%;
}

/* ----------------------------------------------- */

/* Meme launchpad Section */

/* ----------------------------------------------- */

.meme-lunchpad {
  padding: 180px 0;
}
.meme-box-heading {
  font-family: Visueltpro700;
  font-size: 58px;
  color: #010316;
  margin-bottom: 34px;
}
.meme-team-box-grid {
  display: grid;
  grid-template-columns: 70% 30%;
}
.meme-box-para1,
.meme-box-para2,
.meme-team-box-para1,
.meme-team-box-para2,
.meme-team-box-para3 {
  font-family: MaisonNeueBook;
  font-size: 21px;
  color: #515050;
  letter-spacing: 0.5px;
}
.meme-box-para1 {
  margin-bottom: 46px;
  line-height: 40px;
}
.meme-box-para2 {
  margin-bottom: 100px;
}
.meme-box-para2-link {
  background-color: #5627f4;
  padding: 7px 5px;
  color: #fff;
  text-decoration: none;
}
.meme-box-img {
  margin-bottom: 200px;
}
.meme-team-box-heading {
  font-family: Visueltpro700;
  font-size: 58px;
  margin-bottom: 34px;
  color: #010316;
}
.meme-team-box-para1,
.meme-team-box-para2 {
  margin-bottom: 30px;
  line-height: 40px;
}
.meme-team-box-para3 {
  margin-bottom: 34px;
}
.box-para1-span {
  color: #000316;
  font-weight: 600;
}
.team-link {
  display: flex;
  align-items: center;
  gap: 9px;
}
.meme-team-box-arrow {
  max-width: 20px;
  height: 20px;
}
.meme-team-box-arrow {
  font-family: MaisonNeueBook;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.5px;
  color: #010316;
}

/* Meme team buttons */

.team-btn1 {
  position: relative;
  height: 114px;
  width: 350px;
  margin-bottom: 10px;
  background-color: #131313;
}
.techrate {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
}
.hodl {
  left: 50%;
  position: absolute;
  transform: translate(-50%, 18px);
}
.techrate {
  width: 178px;
  height: 55px;
}
.team-btn2 {
  position: relative;
  background-color: #2b62f6;
  height: 114px;
  width: 350px;
}
.hodl {
  width: 173px;
  height: 63px;
}

/* ----------------------------------------------- */

/* Roadmap Section */

/* ----------------------------------------------- */

.roadmap-section {
  padding: 180px 0 385px 0;
  background-color: #5627f4;
}

.roadmap-heading {
  font-family: Visueltpro700;
  font-size: 58px;
  letter-spacing: 0.5px;
  margin-bottom: 34px;
  color: #fff;
}
.roadmap-text {
  font-size: 21px;
  font-family: MaisonNeueLight;
  color: #fff;
  letter-spacing: 0.5px;
  margin-bottom: 68px;
}

/* grid 1 */

.roadmap-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 2px;
}
.incomplete-grid {
  background-color: #151515;
  position: relative;
}
.roadmap-grid p {
  height: 118px;
  color: #fff;
  font-family: Visueltpro600;
  font-size: 18px;
  letter-spacing: 0.3px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 11px;
  line-height: 27px;
}

.complete-grid {
  background: linear-gradient(256.19deg, rgba(66, 31, 184, 0) 0%, #421fb8 100%);
}
.grid-img {
  position: absolute;
  top: -5px;
  right: -14px;
}

.roadmap-grid :nth-child(15) {
  background-color: #fff;
  color: #151515;
  font-family: MaisonNeue700;
}

/* ----------------------------------------------- */

/* Join now Section */

/* ----------------------------------------------- */

/* .joinnow-container {
  max-width: 1200px;
} */
.joinnow-section {
  height: 362px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  background-color: #010316;
  margin-top: -181px;
  margin-bottom: 50px;
  border-top: 4px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.joinnow-heading {
  font-family: Visueltpro700;
  font-size: 58px;
  color: #fff;
  padding-bottom: 30px;
}
.btns {
  display: flex;
  gap: 10px;
}
.joinnow-btn1 {
  background-color: #ffffce;
}
.joinnow-btn2 {
  background-color: #fff;
}
.joinnow-btn1,
.joinnow-btn2 {
  width: 172px;
  height: 42px;
  border-radius: 4px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-link {
  text-decoration: none;
  font-family: MaisonNeueMedium;
  color: #0d123f;
  font-size: 18px;
}

/* ----------------------------------------------- */

/* Footer Section */

/* ----------------------------------------------- */

.footer {
  padding: 50px 0 100px 0;
}
.footer-grid {
  display: grid;
  grid-template-columns: 56% 14.6% 14.6% 14.6%;
}
.footer-heading {
  font-family: Visueltpro500;
  font-size: 24px;
  color: #010316;
  margin-bottom: 32px;
}
.footer-text {
  color: #0d0d0d;
  font-size: 15px;
  font-family: MaisonNeueLight;
  letter-spacing: 0.8px;
}
.footer-link {
  text-decoration: none;
}
.tokenomics,
.audit,
.twitter {
  margin-bottom: 32px;
}
.copyright {
  text-align: center;
  margin-top: 100px;
  font-size: 13px;
  font-family: MaisonNeueLight;
  letter-spacing: 0.8px;
  color: #0d0d0d;
}

